body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}
header {
    background-color: #4CAF50;
    color: white;
    padding: 20px 0;
}
main {
    padding: 20px;
}

nav ul li{
    margin: 0 15px;
    color: white;
    display: inline-block;
    padding: 10px 15px; 
}

nav a {
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
nav a:hover {
    background-color: lightblue;
}

footer {
    background-color: #f1f1f1;
    color: #333;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}


.seccionEsp{
    padding: 20px;
    margin-bottom: 20px;
}

.listEsp{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 0;
    list-style-type:none;
    margin:0;
    justify-content: center;
    
}

.listEsp li{
    background-color: #cac8c8;
    border: 3px solid #797373;
    padding: 5px;
    margin: 0;
    text-align: center;
}

.listEsp li:hover{
    background-color: #9cec95;
    transition: 0.3s;
}


.medicos-obras {
    padding: 50px 20px;
    background-color: #f4f4f4;
    text-align: center;
}

.medico-tarjeta img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

