   body.dark-mode {
      background-color: #181a1b !important;
      color: #e8e6e3 !important;
    }
    .navbar-dark.dark-mode, .bg-light.dark-mode, .card.dark-mode {
      background-color: #222 !important;
      color: #e8e6e3 !important;
    }
    .card.dark-mode {
      border-color: #444 !important;
    }
    .btn-success.dark-mode {
      background-color: #198754 !important;
      color: #fff !important;
    }